/* corpo - elementos gerais */

body {
    background-color: #E0D0FF;
    color:  white;
    /* caso o navegador não leia a fonte DM Serif Display, ele usará a fonte Calibri */
    font: 14px 'Calibri';
    line-height: 30px;
}

a:visited, a:link, a:active, a:hover {
    color:#ffffff;
    text-decoration: none;
    padding:0 10px;
}
a:hover {
    color:#8C52FF;
}

/* cabeçalho */

h1, .sub {
    text-align:center;
    justify-content: center;
}
h1 {
    margin-top:3%;
    color: #ffffff;
}
#menu {
   text-align:center;
   margin:0;
}

/* páginas */

#texto {
    width:40%;
    text-align:justify;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 10px;
}
#hobbies {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    color: white;
}

/* formulário de contato */

form {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
form input {
    width:100%;
    margin: 10px 0 20px;
    padding:10px 0 10px 15px;
    border: solid #8C52FF 1px;
}

/* deixar o campo de email e nome lado a lado */
form .mail {float:right;} form .mail input, .nome input {width:220px;}
form .nome {float:left;}
form .assunto {clear:both;}

form .assunto input {width:481px;}
form textarea {
    width:468px;
    height:100px;
    padding:10px 15px;
    border: solid #8C52FF 1px;
    float:right;
    float:left;
    clear: both;
}

form button {
    background-color: #8C52FF;
    margin-top: 30px;
    border:0;
    color: white;
    padding: 10px 15px;
}

/* fotos */

.fotosobre, .fotosobre2 {
    /* fotos da página sobre.html */
    width:auto;
    height:auto;
    max-width: 200px;
    max-height: 200px;
    border: solid #8C52FF 1px;
}
.fotosobre {float:left;
    margin-right:20px;}
.fotosobre2 {float:right;
    margin-left:20px;
margin-top:10px;}

#logo {
    width:auto;
    height:auto;
    max-width:250px;
}
#icon {
    /* emoji da página inicio.html */
    margin-left:auto;
    margin-right:auto;
    max-width: 100px;
   margin-top: 15%;
}